<script>
  // Size and margins
  import Leaf from "../helpers/_design_3_leaf.svelte";
  import { scaleLinear, scaleLog } from "d3-scale";
  import { extent } from "d3-array";
  import all_data from "../../hourly_electricity_vs_gas_december.json";

  const WIDTH = 500;
  const HEIGHT = 600;
  const LEAF_SPACING_Y = 80;
  const LEAF_HEIGHT = 35;
  const LEAFWIDTH = 176;

  let usageByWeek = {};

  $: {
    all_data.forEach((data) => {
      if (!usageByWeek[data.week]) {
        usageByWeek[data.week] = {};
        usageByWeek[data.week]["electricity"] = [];
        usageByWeek[data.week]["gas"] = [];
      }
      usageByWeek[data.week]["electricity"].push(data.total_electrity);
      usageByWeek[data.week]["gas"].push(data.total_gas);
    });
  }
  $: scale = scaleLinear()
    .domain([1, 170])
    .range([1, LEAFWIDTH + 50]);
  $: yElectricity = scaleLog()
    .domain(extent(all_data.map((d) => d.total_electrity)))
    .range([0, LEAF_HEIGHT]);
  $: yGass = scaleLog()
    .domain(extent(all_data.map((d) => d.total_gas)))
    .range([0, LEAF_HEIGHT]);
</script>

<div style="display: flex; justify-content: center;">
  <svg width={WIDTH} height={HEIGHT}>
    {#each Object.keys(usageByWeek).reverse() as weekNumber, index}
      {#if index % 2 == 0}
        <g transform="translate({10 * 24}, {index * LEAF_SPACING_Y + 150})">
          <Leaf
            data={usageByWeek[weekNumber]}
            {yElectricity}
            {yGass}
            {scale}
            isUp={true}
          />
        </g>
      {:else}
        <g transform="translate({10 * 4}, {index * LEAF_SPACING_Y + 30})">
          <Leaf
            data={usageByWeek[weekNumber]}
            {yElectricity}
            {yGass}
            {scale}
            isUp={false}
          />
        </g>
      {/if}
    {/each}

    {#each [...Array(130).keys()] as value, index}
      {#if index > 10}
        <svg>
          <circle cx={250} cy={value * 5} r="1" />
          <rect x={250} y={value * 5} width={1} height={250} />
        </svg>
      {/if}
    {/each}
  </svg>
</div>
