<script>
  import Circle from "../helpers/_design_2_circle.svelte";
  import { scaleRadial } from "d3-scale";
  import { extent } from "d3-array";
  import heatingCoolingData from "../../daily_heating_cooling.json";

  let cityDataByWeek = {};
  $: {
    heatingCoolingData.forEach((obj) => {
      if (!cityDataByWeek[obj.city]) {
        cityDataByWeek[obj.city] = {};
        cityDataByWeek[obj.city]["heating"] = [];
        cityDataByWeek[obj.city]["cooling"] = [];
      }
      cityDataByWeek[obj.city]["heating"].push(obj.heating);
      cityDataByWeek[obj.city]["cooling"].push(obj.cooling);
    });
  }

  $: yScale_h = scaleRadial()
    .domain(extent(heatingCoolingData.map((d) => d.heating)))
    .range([0, 80]);
  $: yScale_c = scaleRadial()
    .domain(extent(heatingCoolingData.map((d) => d.cooling)))
    .range([0, 80]);
</script>

<div style="display: flex; justify-content: center;">
  <svg width={1000} height={300}>
    <g transform="translate(10, 10)">
      {#each Object.keys(cityDataByWeek) as name, index}
        <g transform="translate({index * (1000 / 3) + 80},20)">
          <text font-weight="bold">{name}</text>
        </g>
        <g transform="translate({index * (1000 / 3) + 120},150)">
          <Circle data={cityDataByWeek[name]} {yScale_h} {yScale_c} />
        </g>
      {/each}
    </g>
  </svg>
</div>

<style>
  svg {
    border: 1px solid rgb(150, 150, 150);
  }
</style>
