<script>
  import { area } from "d3-shape";
  import { extent } from "d3-array";
  import { scaleLinear } from "d3-scale";
  import data_heating_december from "../../hourly_heating_december.json";

  let cityBuildings = {};
  let buildings = {};
  let citySelection = "Baltimore";
  let scaleSelection = "perLine";
  let xEnergyBarScale = scaleLinear().domain([1, 800]).range([1, 300]);
  let yEnergyBarScale = scaleSelection === "perLine" ? 10 : 5;

  $: {
    data_heating_december.forEach((obj) => {
      if (!cityBuildings[obj.city]) {
        cityBuildings[obj.city] = {};
      }
      if (!cityBuildings[obj.city][obj.buildingtype]) {
        cityBuildings[obj.city][obj.buildingtype] = [];
      }

      cityBuildings[obj.city][obj.buildingtype].push(obj.total_heating_energy);
    });

    const citySelected = cityBuildings[citySelection];
    buildings = citySelected;
  }

  $: {
    if (yEnergyBarScale) {
      //to re render
      buildings = buildings;
    }
  }

  function onSelectNewCity(event) {
    citySelection = event.currentTarget.value;
    buildings = cityBuildings[citySelection];
  }
  function onChangeScalling(event) {
    console.log(event.currentTarget.value);
    yEnergyBarScale = event.currentTarget.value == "perLine" ? 20 : 10;
    // console.log(yEnergyBarScale);
  }

  var GeneratePath = area()
    .x((p) => p[0])
    .y0((p) => yEnergyBarScale)
    .y1((p) => p[1] + 2);

  function generateEnergyBar(path) {
    let dataToGenerate = [];
    let yEnergyBarScale = scaleLinear().domain(extent(path)).range([0, 20]);
    path.forEach((value, idx) => {
      if (value > 0) {
        dataToGenerate.push([
          xEnergyBarScale(idx),
          (value > 0 && yEnergyBarScale(value)) || 0
        ]);
      }
    });

    return GeneratePath(dataToGenerate);
  }
</script>

<div style="padding: 30px">
  <div style="padding: 10px; display: flex; justify-content: center;">
    <div style="padding-right: 20px;">
      <h3>Location</h3>
      {#each Object.keys(cityBuildings) as city}
        <div>
          <label for="city">{city}</label>
          <input
            checked={citySelection === city}
            on:change={onSelectNewCity}
            type="radio"
            name="city"
            value={city}
          />
        </div>
      {/each}
    </div>
    <br />
    <div style="border-left: 1px solid black; padding-left:20px;">
      <h3>Scaling</h3>
      <div>
        <input
          checked={scaleSelection === "perLine"}
          on:change={onChangeScalling}
          type="radio"
          name="scale"
          value="perLine"
        /> Per Line
      </div>
      <div>
        <input
          checked={scaleSelection === "acrossLine"}
          on:change={onChangeScalling}
          type="radio"
          name="scale"
          value="acrossLine"
        /> Across all Lines
      </div>
    </div>
  </div>
  <div style="display: flex; justify-content: center;">
    <svg width="800" height="500">
      <g transform="translate(10, 10)">
        {#each Object.keys(buildings) as name, index}
          <g transform="translate(40,{index * 30 + 20})">
            <text>{name}</text>
          </g>
          <g transform="translate(300,{index * 30})">
            <svg preserveAspectRatio="none">
              <path d={generateEnergyBar(buildings[name])} />
            </svg>
          </g>
        {/each}
      </g>
    </svg>
  </div>
</div>

<style>
  svg {
    border: 1px solid rgb(150, 150, 150);
  }
</style>
