<script>
    const name = 'Ramiro';
    const things_I_enjoy = ["reading books", "going to the gym", "petting dogs on the street"];
    const hobbies = {name, things_I_enjoy};
</script>

<p>My name is {hobbies.name} and these are some of my favourite things: {hobbies.things_I_enjoy} </p>