<script>
    let counter_ = 0;
  </script>
    <button class="btn btn-primary" on:click={() => (counter_ += 1)}>
        {#if counter_<=1}
            Clicked {counter_} times
        {:else}
            Clicked {counter_} times
        {/if}
    </button>
    <button class="btn btn-danger" on:click={() => (counter_ = 0)}>
        Reset
    </button>


