<script>
  import { json } from "d3-fetch";
  import { onMount } from "svelte";

  import Controls from "./_ex_3_controls.svelte";
  import Scatterplot from "./_ex_3_scatterplot.svelte";

  // Load the data
  let data = null;
  onMount(async () => {
    data = await json("/data/gapminder.json");
  });

  let ano = 0;
  let continent = "all";

  function lets_graph(data, continent){
    if (continent!="all"){
      // alert(current_continente);
      return data.filter(datum => datum.continent == continent);
    }
    else{
      return data;
    }
  }

  
</script>

{#if !data}
  <p>Loading the data, please wait...</p>
{:else}
  <div>
    <Scatterplot data={lets_graph (data[ano]["countries"], continent)} />
    <Controls bind:ano={ano} bind:continente={continent}/>
  </div>
{/if}

