<script>
  export let data = {};
  export let yScale_h;
  export let yScale_c;
  import { radialArea } from "d3-shape";

  const gene = radialArea();

  const getRadio = (type) => {
    const types = {
      heating: yScale_h,
      cooling: yScale_c
    };
    const arr = [];
    const values = data[type];
    console.log({ values });
    values.forEach((value, index) => {
      arr.push([(Math.PI / 180) * index, types[type](value)]);
    });
    return gene(arr);
  };
</script>

<circle
  style="stroke: black;
fill: transparent;"
  r="90"
/>
<path class="heating" d={getRadio("heating")} />
<path class="cooling" d={getRadio("cooling")} />
<rect x="0" y={-90} width={1} height={180} />
<rect x={-90} y="0" width={180} height={1} />
<g transform="translate(0,-100)">
  <text font-weight="bold">0</text>
</g>
<g transform="translate(100,0)">
  <text font-weight="bold">3</text>
</g>
<g transform="translate(0,110)">
  <text font-weight="bold">6</text>
</g>
<g transform="translate(-110,5)">
  <text font-weight="bold">9</text>
</g>

<style>
  .cooling {
    stroke: rgb(255, 243, 0);
    fill: rgb(255, 243, 0);
    fill-opacity: 0.5;
  }
  .heating {
    stroke: rgb(0, 133, 255);
    fill-opacity: 0.5;
    fill: rgb(0, 133, 255);
  }
</style>
