<script>
  export let data = {};
  export let scale;
  export let yElectricity;
  export let yGass;
  export let isUp;

  let pathGenerator_E = (d) => {
    let path = "M";
    d.forEach((value, idx) => {
      path += " " + scale(idx) + "," + (value != 0 ? yElectricity(value) : 0); //because there could not be logarith 0
    });

    return path;
  };
  let pathGenerator_G = (d) => {
    let path = "M";
    d.forEach((value, idx) => {
      path += " " + scale(idx) + "," + (value != 0 ? yGass(value) : 0);
    });

    return path;
  };
</script>

<path
  class="{isUp == 0 ? 'left1' : 'right1'} start"
  d={pathGenerator_E(data["electricity"])}
/>
<path
  class="{isUp == 0 ? 'left2' : 'right2'} end"
  d={pathGenerator_G(data["gas"])}
/>

<style>
  path {
    stroke: none;
    fill-opacity: 0.8;
  }
  .start {
    fill: rgb(236, 197, 0);
  }
  .end {
    fill: rgb(9, 151, 208);
  }
  .left1 {
    transform: rotate(20deg) scale(1, -1);
  }
  .right1 {
    transform: rotate(150deg) scale(-1, 1);
  }
  .left2 {
    transform: rotate(20deg);
  }
  .right2 {
    transform: rotate(150deg) scale(-1, -1);
  }
</style>
