<script>
  const width = 100;
  const height = 100;
  const margin = { top: 5, right: 5, bottom: 5, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
</script>

<svg {width} {height}>
  <g transform="translate({(width-40)/2}, {(height-40)/2})">
    <rect x=0 y=0 width=40 height=40 fill="yellow"/>
    <circle cx=0 cy=0 r=20 fill="skyblue" transform="translate({30}, {30})"/>
  </g>
</svg>
